@import url(https://s3-us-west-1.amazonaws.com/com.duarte.vogue/duarte.css);

body {
	background-color: white;
	padding: 15px;
}


.row {
	border: 1px dotted #bbb;
	padding: 3px;
	margin-bottom: 3px;
}

.columns {
	border: 1px dotted blue;
	padding: 3px;
}

img, .editor-attachment {
	border: 0;
	border-radius: 0px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* edits july 5, 2013 */
.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px; 
}
.alignright {
	float: right;
	margin-left: 20px;
	margi