.DS_Store

public/wp-content/uploads/

screenshot-1.png
screenshot-2.png
screenshot-3.png
screenshot-4.png
screenshot-5.png
screenshot-6.png
screenshot-7.png


/.htaccess

public/wp-content/advanced-cache.php
public/wp-content/db.php
public/wp-content/object-cache.php
public/wp-content/cache/
public/wp-content/w3tc-config/

logs/

.vagrant/